body {
    background: url('/static/images/backgroundtree4.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.navbar {
    fill: grey;
}

#webpagetitle {
  color: black;
}

#logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.nav-item {
    color: blue;
}


.nav-link {
    color: black;
}

.navbar-toggler-icon{
    background-image: url(/static/images/panlarge.png)!important;
    }

a {
    color: grey;
}
.main-container {
    color: grey;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
